<!DOCTYPE html>
<html>
  <head>
    <title>Prototype e-commerce</title>

    <meta charset="UTF-8">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
    <meta name="author" content="Lukas Pastuszek, lukas.pastuszek@gmail.com">


    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>

        <%- partial('LayoutPartial/ClassicHeader.ejs') %>

        <%- body %>

        <%- partial('LayoutPartial/ClassicFooter.ejs') %>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
