<!DOCTYPE html>
<html>
  <head>
    <title>Prototype e-commerce</title>

    <meta charset="UTF-8">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
    <meta name="author" content="Lukas Pastuszek, lukas.pastuszek@gmail.com">


    <link rel="stylesheet" href="/styles/icons.css">
    <link rel="stylesheet" href="/styles/base_classes.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/main_responsive.css">
  </head>

  <body>

        <%- partial('LayoutPartial/ClassicHeader.ejs') %>

        <div id="page-content">
            <%- body %>
        </div>

        <%- partial('LayoutPartial/ClassicFooter.ejs') %>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-1.11.3.min.js"></script>
    <script src="/js/ajaxSearch.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
