<div id="page-product-list" class="main-center">

    <h1><%= locals.category.name %></h1>


    <%- partial('ProductListComponents/SubcategoryList.ejs') %>

    <%- partial('ProductListComponents/ProductList.ejs') %>

</div>
