<section class="sec-top-categories">

    <% _.each(locals.topCategories, function (category) { %>

        <a class="cat-single" href='<%= category.url.value %>'>

            <span class='img'>
                <img src="<%= category.image.src %>" />
            </span>

            <span class="title">
                <span class="bg"></span>
                <span class="text"><%= category.name %></span>
            </span>

        </a>

    <% }) %>

</section>
